
  <footer>
    <h6>Created by Philip Pike-Acosta and Frances Cohen (2020)</h6>
    <a href="https://cookpolitical.com/2020-national-popular-vote-tracker"> click here for the election data </a>
    <br>
    <a href="https://catalog.data.gov/dataset/u-s-life-expectancy-at-birth-by-state-and-census-tract-2017-68c38"> click here for the life expectancy data </a>

    <!-- <script src="../js/plotly-latest.min.js"></script>
    <script src="js/plotly-latest.min.js"></script> -->


        <!-- <script src = "../js/scripts.js"></script>
      <script src = "js/scripts.js"></script> -->


    <!-- <script src = "../data/clean/election.json"></script>
    <script src = "../data/clean/life.json"></script> -->
  </footer>
