
  <footer>
    <h6>Created by Philip Pike-Acosta and Frances Cohen (2020)</h6>

    <script src="../js/plotly-latest.min.js"></script>
    <script src="js/plotly-latest.min.js"></script>

      <script src = "../js/election.js"></script>
        <script src = "js/election.js"></script>
        <script src = "../js/scripts.js"></script>
      <script src = "js/scripts.js"></script>


    <!-- <script src = "../data/clean/election.json"></script>
    <script src = "../data/clean/life.json"></script> -->
  </footer>
