<nav class="nav-extended orange darken-3">
 <div class="nav-wrapper">
   <a href="#" class="brand-logo"> Life Expectancies and Elections </a>
   <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
   <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="index.html" class="waves-effect waves-light pulse btn teal lighten-1">Home</a></li>
     <li><a href="about.html" class="waves-effect waves-light pulse btn teal lighten-1">About</a></li>
   </ul>
 </div>
</nav>
