<nav class="nav-extended purple darken-4">
 <div class="nav-wrapper">
   <a href="#" class="brand-logo white-text"> Life Expectancies and Elections </a>
   <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
   <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="../index.html" class="btn light-blue accent-2">Home</a></li>
     <li><a href="../about.html" class="btn #d32f2f red darken-2">About</a></li>
   </ul>
 </div>
</nav>
