<%- include('global/header', {title: "About"}); %>

 <!-- questions -->
<main>
<div class="row">
  <div class="col s6">
    <h2> What is the photography of New York? </h2>
    <p> It's any photography taken of or in the city! That includes photos of buildings, parks, people, major events in New York, or any other scene.</p>
  </div>

  <div class="col s6">
    <h2> Why am I interested in it? </h2>
    <p> I've been taking photography at school for several years now, and I really love it.
      I've also lived in New York for my entire life, so I wanted to explore the intersection
      between the two! </p>
  </div>
</div>
</main>

  <!-- learn more links -->
<div class="row">
  <div class="col s12">
    <div id="learnMore">
    <div class="card">
        <div class="card-content">
          <span class="card-title"><h2> Learn more here! </h2></span>
        </div>
        <div class="card-action">
          <div class="collection">
           <a href="https://www.timeout.com/newyork/art/top-50-new-york-photographs" class="collection-item active teal lighten-1"> click to see some of the most well known photos of New York </a>
           <a href="https://www.oldnyc.org/#g:40.780837,-73.960894" class="collection-item active teal lighten-1">click to see some historical photos of locations all over the city</a>
           <a href="https://www.mcny.org/collections/prints-photographs" class="collection-item active teal lighten-1">click to see the Museum of the City of New York's collection of prints and photographs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
