<%- include('global/header', {title: "About"}); %>


<img src="images/FrancesLanding.jpg" alt="Landing Page 1" width="600">
<img src="images/FrancesMicro.jpg" alt="Micro Page 1" width="600">

</body>

</html>
