<%- include('global/header', {title: "About"}); %>


<img src="images/FrancesLanding.jpg" alt="Landing Page 1" width="600">
<img src="images/FrancesMicro.jpg" alt="Micro Page 1" width="600">

<h3> Understandability </h3>
<ul>
  <li> Diagrams are large and mostly centered on the page, allowing for users to easily understand the information</li>
  <li> Different colors are also utilized and consistent throughout the pages </li>
</ul>

<h3> Mapping </h3>
<ul>
  <li> The landing page's bar chart clearly shows the national relationship between life expectancy and candidates </li>
  <li> Uses the real world red and blue color conventions for parties </li>
  <li> The micro summary page clearly separated the state information and the state vs national comparisons by having one on the top and the other on the bottom</li>
</ul>

<h3> Structure </h3>
<ul>
  <li> Micro summary pages have the state information all in one row and the national comparison information in another</li>
  <li> Text-based analysis of the candidate votes and life expectancy data are on different sides of the page</li>
</ul>

<h3> Simplicity </h3>
<ul>
  <li> Most of the data is displayed in a few large, easy to read charts </li>
  <li> However, the large text showing the life expectancy on the landing page takes away from the simplicity of the design and the graph next to it </li>
  <li> The larger take away sentence on the micro summary page is at the bottom of the page rather than the top, making it slightly more difficult for people to find that information</li>
  <li> The graph on the bottom left of the micro summary page provides a comparison that isn't completely relevant to the larger topic</li>
</ul>

</body>

</html>
