<%- include('global/header', {title: data.state}); %>

<h2><%=life.state%></h2>
<h3><%=election.Dpercent%></h3>

<div id="electionmap"></div>

<%- include ('global/footer'); %>
<script src="../js/plotly-latest.min.js"></script>
</body>

</html>
